<!-- commentCard partial -->

  <div class="card mb-3">
    <div class="card-header">
      <h5 class="card-title">{{user.username}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{format_date date_created}}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{body}}</p>
    </div>
    <div class="col-md-4">
        <button id="delete-button"class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
  </div>
<script src="./js/comment.js"></script>