<div class="row">
  <div class="col-auto">
    <h2 class="welcome">Welcome, {{name}}!</h2>
  </div>
</div>
{{!-- <!--Profile Section-->
<div class = "container" id = "profile-info">
<div class = "row">
  <!--About me box -->
<div class = "col-3">
  <h3><strong><ins>About Me:</ins></strong></h3>
  <input style = "width:300px;height:100px" type = "text" id = "aboutme" placeholder = "Tell us about you">
</div>
  <!--Interests -->
<div class = "col-3">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Interests
    </button>
    <div name = "dropdown_interests" id = "dropdown_interests" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- Section for Movies -->
        <div class="dropdown-header">Movie Genres</div>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt1" class="form-check-input"> Action
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt2" class="form-check-input"> Thriller
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt3" class="form-check-input"> Comedy
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt4" class="form-check-input"> Horror
        </a>
        <!-- Section for Outdoor -->
        <div class="dropdown-header">Outdoor Activities</div>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt5" class="form-check-input"> Hiking
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt6" class="form-check-input"> Canoeing
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt7" class="form-check-input"> Fishing
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt8" class="form-check-input"> Hunting
        </a>
        <!-- Section for Book Genres -->
        <div class="dropdown-header">Book Genres</div>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt9" class="form-check-input"> Mystery
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt10" class="form-check-input"> Realistic Fiction
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt11" class="form-check-input"> Romance
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt12" class="form-check-input"> Science Fiction
        </a>
        <!-- Section for Hobbies -->
        <div class="dropdown-header">Hobbies</div>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt13" class="form-check-input"> Knitting
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt14" class="form-check-input"> Board Games
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt15" class="form-check-input"> Video Games
        </a>
        <a class="dropdown-item" href="#">
            <input type="checkbox" id="opt16" class="form-check-input"> Drawing
        </a>
    </div>
</div>

<div class = "col-2">
 <input name = "age_select" id = "age_select" type = "text" placeholder = "please enter your age "/>
 </div>
 <div class = "col-2">
 <div class="dropdown">
    <button name = "gender_drop" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Gender
    </button>
    <div name = "gender_menu" id = "gender_menu" class="dropdown-menu" aria-labelledby="dropdownMenu">
      <label class="dropdown-item" >
            <input type="radio" id="gen1" class="form-check-input" name = "radioBTN"> Man
        </label>
         <label class="dropdown-item">
            <input type="radio" id="gen2" class="form-check-input" name = "radioBTN"> Woman
        </label>
         <label class="dropdown-item">
            <input type="radio" id="gen3" class="form-check-input" name = "radioBTN"> Non-Binary
        </label>
    </div>
    </div>
    <div class = "col-2">
    <input name = "location" id = "location" style = "width:200px;height:80px" type = "text" placeholder = "please enter cityloc "/>
    </div>
  </div>
<button id = "submit_btn" type = "button" class = "btn btn-primary">Submit</button>
<script>
document.addEventListener('DOMContentLoaded', function(){
    var submit_btn = document.getElementById('submit_btn');
    submit_btn.addEventListener('click', function(){
         
        // Handle all the cases for the dropdowns
        var interest_checkboxes = document.querySelectorAll('#dropdown_interests input[type="checkbox"]:checked');
        var gender_radios = document.querySelectorAll('#gender_menu input[type="radio"]:checked');

        // Convert node lists to arrays
        var interest_array = Array.from(interest_checkboxes).map(checkbox => Array.from(checkbox.parentElement.childNodes)[2].textContent.trim());
        var gender_array = Array.from(gender_radios).map(radio => Array.from(radio.parentElement.childNodes)[2].textContent.trim());
        // Get other values
        var age = document.getElementById('age_select').value;
        var city = document.getElementById('location').value;
        console.log(interest_array);
        console.log(gender_array); 
        console.log(age);
        console.log(city);
        try {
            fetch('/profile_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    interest: interest_array,
                    gender: gender_array,
                    age: age,
                    city: city
                })
            }).then(response => {
                if(response.ok){
                    return response.json();
                }
                throw new Error('Request Failed');
            }).then(data => {
                console.log(data);
            }).catch(error => {
                console.log(error);
            }); 
        } catch (error) {
            console.log(error); 
        }
    });
});

</script>

</div> --}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3><strong><ins>Write a New Post:</ins></strong></h3>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name"><strong>Post name:</strong></label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc"><strong>Description:</strong></label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
<!--Taking every post and for each post its formatting it and putting on the page-->
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3><strong><ins>Current Post:</ins></strong></h3>
    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="./js/profile.js"></script>
